*{
    margin:0;
    padding:0;
}
body{    
    height: 100%;
    width:auto;
    background-color: #f1f1f6;
}
.container{
    margin: 100px 100px;
    display:flex;
}
.facebook-side{
    width:50%;
    padding-left: 15%;
    padding-top: 8%;
}
h1{
    color: royalblue;
    font-size: 80px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.login-side{
    margin-top: 3%;
    width:50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10%;
}
.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 396px;
    height: 350px;
    box-shadow: -3px 3px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
form{       
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
input{
    width: 350px;
    height: 52px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 10px;
}
button{
    width: 370px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
}
p{
    color:royalblue;
}
hr{
    border: 1px solid #ccc;
    width: 380px;
    margin: 20px 0px;
}
.createaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(44, 205, 44);
    color: white;
    width: 250px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
}
.footer{
    margin-top: 150px;
    margin-left: 75%;
  }

  /* responsive */
/* 1024px */
  @media(max-width:1025px){
    .container{
        display:flex;
        justify-content: space-between;
    }
    .facebook-side{
        width:40%;
        padding-left: 0%;
        padding-top: 8%;
    }
    .login-side{
        margin-top: 3%;
        width:40%;
        padding-right: 0%;
    }
  }
  /* 720px */
  @media(max-width:800px){
    .container{
        display:flex;
        flex-direction: column;
    }
    .facebook-side{
        width:100%;
        padding-left: 0%;
        margin: 0%;
    }
    .login-side{
        width:100%;
        padding-left: 0%;
        margin: 0%;
    }
    }
  